TOKEN = "123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

MIN_PASSWORD_LENGTH = 6
MAX_PASSWORD_LENGTH = 2048
DEFAULT_PASSWORD_LENGTH = 8
# Here you may specify additional non-alphanumeric characters that will be used in generated passwords.
PASSWORD_EXTRA_CHARS = ""
# Threshold value to prevent the infinite loop to occur
MAX_PASSWORD_GENERATION_TRIES = 100

# Must be consistent with the path part of the location in your front-end web server configuration.
NAME = "kozRandBot"
HOST = "bots.example.org"
SERVER_PORT = 8443                   # A port on a front-end web server.
METRICS_PORT = 8000
UNIX_SOCKET = f"/tmp/{NAME}.sock"    # A Unix domain socket to communicate with that web server.

# Set to 'False' for production use.
# Besides the level of verbosity, determines whether polling or webhooks will be used.
DEBUG = True
